
<div class=" jumbotron text-center">
  <h1>Contact us/Review us</h1>
<div class="form-horizontal form-group form-group-lg row">
  <!--  col-xs-offset-1 col-md-offset-2 col-sm-6 col-md-5-->
  <div class=" col-xs-10  col-sm-offset-1 text-left">
    <label for="name">Name:</label>

    {{input id="name" name="name" type="name" value=name form="form-control" placeholder="Name" autofocus="autofocus" }}
    <br>
    <br>
      <label for="email">Email:</label>
        {{input id="email" name="email" type="email" value=emailAddress form="form-control" placeholder="hassan@hashmeme.com" autofocus="autofocus" }}
        <br>
        <br>
        <label for="text-area">Message:</label>
        {{textarea id="message" name="text-area" class="form-control" placeholder="Tell us how awesome we are!" rows="7" value=message }}
        <button {{action 'contactMessage'}} disabled= {{isDisabled}} class="btn btn-primary btn-block">Send message</button>
  </div>
</div>

<!-- {{#if contactResponseMessage}}
  <div class="alert alert-success">
    {{contactResponseMessage}}
  </div>
{{/if}} -->
</div>
